Repository winter-telescope/wintertoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

black:
  name: black
  entry: black
  language: system

isort:
  name: isort (python)
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  verbose: true

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  language_version: python3
  pass_filenames: false

Add new defaults
  wintertoo/models/too.py
Due: black, isort, pylint

clean code
  wintertoo/models/too.py
Due: black, isort, pylint

clean code
  pyproject.toml
  wintertoo/utils.py
Due: black, isort, pylint, poetry-check

Update
  wintertoo/schedule.py
Due: black, isort, pylint

Update pandas v2
  pyproject.toml
  wintertoo/models/too.py
Due: black, isort, pylint, poetry-check

Add extra tests
  tests/test_schedule.py
Due: black, isort, pylint

V1.9 (#79)
  .github/workflows/continuous_integration.yml
  pyproject.toml
  tests/test_schedule.py
  tests/testdata/test_schedule.json
  wintertoo/data/__init__.py
  wintertoo/data/observing_request_schema.json
  wintertoo/models/__init__.py
  wintertoo/models/program.py
  wintertoo/models/too.py
  wintertoo/schedule.py
  wintertoo/utils.py
Due: black, isort, pylint, poetry-check

Fix CI
  .github/workflows/continuous_integration.yml
Due: none

Fix CI (#80)
  .github/workflows/continuous_integration.yml
Due: none

Fix defaults
  pyproject.toml
  wintertoo/models/too.py
Due: black, isort, pylint, poetry-check

Fix defaults (#81)
  pyproject.toml
  wintertoo/models/too.py
Due: black, isort, pylint, poetry-check

v1.9.2
  pyproject.toml
  wintertoo/data/__init__.py
Due: black, isort, pylint, poetry-check

Hardcode it
  wintertoo/data/__init__.py
Due: black, isort, pylint

v1.9.2 (#89)
  pyproject.toml
  wintertoo/data/__init__.py
Due: black, isort, pylint, poetry-check

Update for port
  pyproject.toml
  wintertoo/data/__init__.py
  wintertoo/database.py
  wintertoo/models/__init__.py
  wintertoo/models/database.py
  wintertoo/submit.py
  wintertoo/validate.py
Due: black, isort, pylint, poetry-check

Working for overhead
  tests/test_schedule.py
  wintertoo/data/__init__.py
  wintertoo/models/program.py
  wintertoo/models/too.py
  wintertoo/validate.py
Due: black, isort, pylint

Update
  .github/workflows/continuous_integration.yml
  pyproject.toml
Due: poetry-check

Drop 3.10
  .github/workflows/continuous_integration.yml
  pyproject.toml
Due: poetry-check

V1.10 (#94)
  .github/workflows/continuous_integration.yml
  pyproject.toml
  tests/test_schedule.py
  wintertoo/data/__init__.py
  wintertoo/database.py
  wintertoo/models/__init__.py
  wintertoo/models/database.py
  wintertoo/models/program.py
  wintertoo/models/too.py
  wintertoo/submit.py
  wintertoo/validate.py
Due: black, isort, pylint, poetry-check

Loosen pandas pin to allow pandas 3.x
  pyproject.toml
  tests/test_schedule.py
Due: black, isort, pylint, poetry-check

Loosen pandas pin to allow pandas 3.x (#95)
  pyproject.toml
  tests/test_schedule.py
Due: black, isort, pylint, poetry-check

V1.10.1
  pyproject.toml
Due: poetry-check

V1.10.1 (#96)
  pyproject.toml
Due: poetry-check

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
