Repository winter-telescope/wintertoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        verbose: true
-   repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        language_version: python3
        pass_filenames: false
        files: ^pyproject.toml$

-   repo: local
    hooks:
      - id: poetry-lock
        name: poetry-lock
        description: run poetry lock to update lock file
        entry: poetry lock
        language: python
        language_version: python3
        pass_filenames: false
        verbose: true

pre-commit update (#6)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump to v0.3.3
  pyproject.toml
Due: poetry-check

Bump to v0.3.3 (#7)
  pyproject.toml
Due: poetry-check

make winter table match summer table
  wintertoo/data/winter_fields.txt
Due: none

make winter table match summer table (#8)
  wintertoo/data/winter_fields.txt
Due: none

version bump
  pyproject.toml
Due: poetry-check

Github publish only on push
  .github/workflows/continuous_integration.yml
Due: none

More tests
  tests/test_schedule.py
  wintertoo/utils.py
Due: black, isort, pylint

More testing
  tests/test_schedule.py
  tests/testdata/test_schedule.json
Due: black, isort, pylint

Test more validation functions (#9)
  tests/test_schedule.py
  tests/testdata/test_schedule.json
  wintertoo/utils.py
Due: black, isort, pylint

Version bump
  pyproject.toml
Due: poetry-check

Version bump (#10)
  pyproject.toml
Due: poetry-check

Check password
  poetry.lock
  pyproject.toml
  wintertoo/database.py
  wintertoo/models/program.py
Due: black, isort, pylint, poetry-check

Fix typo
  wintertoo/fields.py
Due: black, isort, pylint

avoid deprecated pandas usage
  wintertoo/schedule.py
Due: black, isort, pylint

Silence pylint
  wintertoo/database.py
Due: black, isort, pylint

Handle hashed API keys (#11)
  poetry.lock
  pyproject.toml
  wintertoo/database.py
  wintertoo/fields.py
  wintertoo/models/program.py
  wintertoo/schedule.py
Due: black, isort, pylint, poetry-check

v0.3.6
  pyproject.toml
Due: poetry-check

v0.3.6 (#12)
  pyproject.toml
Due: poetry-check

Propagate progdbname
  wintertoo/submit.py
  wintertoo/validate.py
Due: black, isort, pylint

Propagate progdbname (#13)
  wintertoo/submit.py
  wintertoo/validate.py
Due: black, isort, pylint

Bump v0.3.7
  pyproject.toml
Due: poetry-check

Bump v0.3.7 (#14)
  pyproject.toml
Due: poetry-check

Ban poetry
  .github/workflows/black.yml
  .github/workflows/continuous_integration.yml
  .github/workflows/isort.yml
  .github/workflows/pylint.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix pyproject.toml
  pyproject.toml
Due: poetry-check

Fix pyproject.toml
  .github/workflows/continuous_integration.yml
Due: none

Explicitly list wintertoo.models as a package
  pyproject.toml
Due: poetry-check

Install with dev dependency
  README.md
  pyproject.toml
Due: poetry-check

install linting
  .github/workflows/black.yml
  .github/workflows/isort.yml
  .github/workflows/pylint.yml
Due: none

Install coverage[toml]
  pyproject.toml
Due: poetry-check

Dependency for coverage
  .github/workflows/continuous_integration.yml
Due: none

Dependency for coverALLS
  pyproject.toml
Due: poetry-check

Reorder
  pyproject.toml
Due: poetry-check

Redo coeralls
  .github/workflows/continuous_integration.yml
Due: none

Redo coveralls
  pyproject.toml
Due: poetry-check

Banish poetry (#15)
  .github/workflows/black.yml
  .github/workflows/continuous_integration.yml
  .github/workflows/isort.yml
  .github/workflows/pylint.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
Due: poetry-check

depoetry
  tests/test_schedule.py
Due: black, isort, pylint

More testing
  tests/test_schedule.py
Due: black, isort, pylint

More test fields
  tests/test_fields.py
Due: black, isort, pylint

More util testing
  tests/test_schedule.py
Due: black, isort, pylint
