Repository winter-telescope/wintertoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        verbose: true
-   repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        language_version: python3
        pass_filenames: false
        files: ^pyproject.toml$

-   repo: local
    hooks:
      - id: poetry-lock
        name: poetry-lock
        description: run poetry lock to update lock file
        entry: poetry lock
        language: python
        language_version: python3
        pass_filenames: false
        verbose: true

Uglify for py3.9
  wintertoo/schedule.py
Due: black, isort, pylint

More tests, fewer errors (#16)
  tests/test_fields.py
  tests/test_schedule.py
  wintertoo/schedule.py
Due: black, isort, pylint

v0.3.8
  pyproject.toml
Due: poetry-check

v0.3.8 (#17)
  pyproject.toml
Due: poetry-check

Dependabot
  .github/dependabot.yml
Due: none

automerge
  .github/workflows/automerge.yml
Due: none

Update READme
  README.md
Due: none

Dependabot (#18)
  .github/dependabot.yml
  .github/workflows/automerge.yml
  README.md
Due: none

Remove pandas2 constraint
  pyproject.toml
Due: poetry-check

Depin pandas (#19)
  pyproject.toml
Due: poetry-check

v0.3.9
  pyproject.toml
Due: poetry-check

v0.3.9 (#20)
  pyproject.toml
Due: poetry-check

Update texp
  wintertoo/models/too.py
Due: black, isort, pylint

Validate exposure times
  wintertoo/models/too.py
Due: black, isort, pylint

Fix exposure time validation (#22)
  wintertoo/models/too.py
Due: black, isort, pylint

Update tests
  tests/test_schedule.py
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
Due: black, isort, pylint

Update tests (#24)
  tests/test_schedule.py
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
Due: black, isort, pylint

v0.3.10
  pyproject.toml
Due: poetry-check

v0.3.10 (#25)
  pyproject.toml
Due: poetry-check

add dark filter to ToO schema
  wintertoo/data/__init__.py
  wintertoo/data/observing_request_schema.json
Due: black, isort, pylint

pin pydantic version to v1
  pyproject.toml
Due: poetry-check

right syntax
  pyproject.toml
Due: poetry-check

Add dark to WINTER filters (#30)
  pyproject.toml
  wintertoo/data/__init__.py
  wintertoo/data/observing_request_schema.json
Due: black, isort, pylint, poetry-check

Fix query for fields
  wintertoo/fields.py
Due: black, isort, pylint

Pydantic V2
  pyproject.toml
  wintertoo/models/image.py
  wintertoo/models/program.py
  wintertoo/models/too.py
Due: black, isort, pylint, poetry-check

Update test
  tests/test_fields.py
Due: black, isort, pylint

py3.9
  wintertoo/models/program.py
Due: black, isort, pylint

Fix query for fields (#28)
  tests/test_fields.py
  wintertoo/fields.py
Due: black, isort, pylint

Pydantic V2 (#32)
  pyproject.toml
  wintertoo/models/image.py
  wintertoo/models/program.py
  wintertoo/models/too.py
Due: black, isort, pylint, poetry-check

version bump
  pyproject.toml
Due: poetry-check

Versionbump (#33)
  pyproject.toml
Due: poetry-check

Default winter science filters
  wintertoo/data/__init__.py
  wintertoo/models/too.py
Due: black, isort, pylint

Default winter science filters (#34)
  wintertoo/data/__init__.py
  wintertoo/models/too.py
Due: black, isort, pylint

v0.4.0
  pyproject.toml
Due: poetry-check

v0.4.0 (#35)
  pyproject.toml
Due: poetry-check

Add default-null targname field
  wintertoo/data/observing_request_schema.json
  wintertoo/models/too.py
  wintertoo/schedule.py
Due: black, isort, pylint

Put targname in schedule
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
Due: none

Use jsoin default
  wintertoo/models/too.py
Due: black, isort, pylint

Add Targname (#37)
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
  wintertoo/models/too.py
  wintertoo/schedule.py
Due: black, isort, pylint
