Repository winter-telescope/wintertoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        verbose: true
-   repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        language_version: python3
        pass_filenames: false
        files: ^pyproject.toml$

-   repo: local
    hooks:
      - id: poetry-lock
        name: poetry-lock
        description: run poetry lock to update lock file
        entry: poetry lock
        language: python
        language_version: python3
        pass_filenames: false
        verbose: true

bump v0.4.1
  pyproject.toml
Due: poetry-check

bump v0.4.1 (#38)
  pyproject.toml
Due: poetry-check

Fix validate function
  wintertoo/data/observing_request_schema.json
  wintertoo/models/too.py
  wintertoo/schedule.py
Due: black, isort, pylint

Update test schedule
  tests/testdata/test_schedule.json
Due: none

Fix validate function (#39)
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
  wintertoo/models/too.py
  wintertoo/schedule.py
Due: black, isort, pylint

Bump version
  pyproject.toml
Due: poetry-check

Bump version (#40)
  pyproject.toml
Due: poetry-check

Fix error messages for program validity
  tests/test_schedule.py
  wintertoo/validate.py
Due: black, isort, pylint

Skip if coveralls fails
  .github/workflows/continuous_integration.yml
Due: none

bump black/isort/pylint
  pyproject.toml
  tests/test_fields.py
  tests/test_schedule.py
  wintertoo/data/__init__.py
  wintertoo/database.py
  wintertoo/fields.py
  wintertoo/models/__init__.py
  wintertoo/models/image.py
  wintertoo/models/program.py
  wintertoo/models/too.py
  wintertoo/schedule.py
  wintertoo/submit.py
  wintertoo/validate.py
Due: black, isort, pylint, poetry-check

pydantic 2.6 compatibility
  wintertoo/models/program.py
  wintertoo/models/too.py
Due: black, isort, pylint

pydantic 2.6 compatibility
  wintertoo/models/image.py
  wintertoo/models/too.py
Due: black, isort, pylint

Fix hours used
  wintertoo/models/program.py
Due: black, isort, pylint

Fix error messages for program validity (#54)
  .github/workflows/continuous_integration.yml
  pyproject.toml
  tests/test_fields.py
  tests/test_schedule.py
  wintertoo/data/__init__.py
  wintertoo/database.py
  wintertoo/fields.py
  wintertoo/models/__init__.py
  wintertoo/models/image.py
  wintertoo/models/program.py
  wintertoo/models/too.py
  wintertoo/schedule.py
  wintertoo/submit.py
  wintertoo/validate.py
Due: black, isort, pylint, poetry-check

Wrapper up the full validation function
  tests/test_schedule.py
  wintertoo/validate.py
Due: black, isort, pylint

Wrapper up the full validation function (#56)
  tests/test_schedule.py
  wintertoo/validate.py
Due: black, isort, pylint

v1.0 release
  pyproject.toml
Due: poetry-check

v1.0 release (#57)
  pyproject.toml
Due: poetry-check

default dither size should actually be 30
  wintertoo/data/observing_request_schema.json
Due: none

default dither size should actually be 30 (#58)
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
Due: none

v1.1.0
  pyproject.toml
Due: poetry-check

v1.1.0 (#59)
  pyproject.toml
Due: poetry-check

ApiV2
  pyproject.toml
  wintertoo/data/__init__.py
  wintertoo/data/observing_request_schema.json
  wintertoo/models/__init__.py
  wintertoo/models/image.py
  wintertoo/models/too.py
  wintertoo/schedule.py
  wintertoo/submit.py
Due: black, isort, pylint, poetry-check

Add optional
  wintertoo/models/too.py
Due: black, isort, pylint

Cleanup test data
  tests/test_schedule.py
  tests/testdata/test_schedule.json
Due: black, isort, pylint

Optional
  wintertoo/models/image.py
Due: black, isort, pylint

Reoptional
  wintertoo/submit.py
Due: black, isort, pylint

ApiV2 (#61)
  pyproject.toml
  tests/test_schedule.py
  tests/testdata/test_schedule.json
  wintertoo/data/__init__.py
  wintertoo/data/observing_request_schema.json
  wintertoo/models/__init__.py
  wintertoo/models/image.py
  wintertoo/models/too.py
  wintertoo/schedule.py
  wintertoo/submit.py
Due: black, isort, pylint, poetry-check

Add option to use best detector
  pyproject.toml
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
  wintertoo/models/too.py
  wintertoo/schedule.py
Due: black, isort, pylint, poetry-check

Add option to use best detector (#63)
  pyproject.toml
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
  wintertoo/models/too.py
  wintertoo/schedule.py
Due: black, isort, pylint, poetry-check

By default grant one day grace on image querys being in future
  pyproject.toml
  wintertoo/models/image.py
Due: black, isort, pylint, poetry-check

By default grant one day grace on image querys being in future (#64)
  pyproject.toml
  wintertoo/models/image.py
Due: black, isort, pylint, poetry-check

Swap to validation after initialisation
  wintertoo/models/image.py
Due: black, isort, pylint

Fix date bug
  pyproject.toml
Due: poetry-check

Swap to validation after initialisation (#65)
  pyproject.toml
  wintertoo/models/image.py
Due: black, isort, pylint, poetry-check

Update with new ToO model
  pyproject.toml
  tests/test_schedule.py
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
  wintertoo/models/too.py
  wintertoo/schedule.py
Due: black, isort, pylint, poetry-check

Use set not list
  wintertoo/schedule.py
Due: black, isort, pylint

Update with new ToO model (#66)
  pyproject.toml
  tests/test_schedule.py
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
  wintertoo/models/too.py
  wintertoo/schedule.py
Due: black, isort, pylint, poetry-check
