Repository winter-telescope/wintertoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        verbose: true
-   repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        language_version: python3
        pass_filenames: false
        files: ^pyproject.toml$

-   repo: local
    hooks:
      - id: poetry-lock
        name: poetry-lock
        description: run poetry lock to update lock file
        entry: poetry lock
        language: python
        language_version: python3
        pass_filenames: false
        verbose: true

Add avro
  pyproject.toml
  wintertoo/data/__init__.py
Due: black, isort, pylint, poetry-check

Rename kind to image_type
  wintertoo/models/image.py
Due: black, isort, pylint

V1.5.0 - Add avro image type (#67)
  pyproject.toml
  wintertoo/data/__init__.py
  wintertoo/models/image.py
Due: black, isort, pylint, poetry-check

Try again
  wintertoo/models/image.py
Due: black, isort, pylint

Bump version
  pyproject.toml
Due: poetry-check

Fix pylint
  pyproject.toml
Due: poetry-check

Set default date range at instantiation (#68)
  pyproject.toml
  wintertoo/models/image.py
Due: black, isort, pylint, poetry-check

Increase dithersize
  pyproject.toml
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
Due: poetry-check

Increase dithersize (#69)
  pyproject.toml
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
Due: poetry-check

Require targname
  pyproject.toml
  tests/test_schedule.py
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
  wintertoo/models/too.py
Due: black, isort, pylint, poetry-check

Require targname (#70)
  pyproject.toml
  tests/test_schedule.py
  tests/testdata/test_schedule.json
  wintertoo/data/observing_request_schema.json
  wintertoo/models/too.py
Due: black, isort, pylint, poetry-check

Set default window at instatiation
  pyproject.toml
Due: poetry-check

Set default window at instatiation
  wintertoo/models/too.py
Due: black, isort, pylint

Set default ToO window at instatiation (#71)
  pyproject.toml
  wintertoo/models/too.py
Due: black, isort, pylint, poetry-check

Handle stupid astroplan bug
  pyproject.toml
  wintertoo/data/__init__.py
  wintertoo/models/too.py
  wintertoo/schedule.py
  wintertoo/utils.py
Due: black, isort, pylint, poetry-check

Update
  tests/test_schedule.py
  wintertoo/utils.py
Due: black, isort, pylint

Silence new pylint warning
  wintertoo/database.py
  wintertoo/submit.py
  wintertoo/validate.py
Due: black, isort, pylint

Handle stupid astroplan bug (#72)
  pyproject.toml
  tests/test_schedule.py
  wintertoo/data/__init__.py
  wintertoo/database.py
  wintertoo/models/too.py
  wintertoo/schedule.py
  wintertoo/submit.py
  wintertoo/utils.py
  wintertoo/validate.py
Due: black, isort, pylint, poetry-check

new winter fields
  wintertoo/data/winter_fields.txt
Due: none

winter secondary fields
  wintertoo/data/__init__.py
Due: black, isort, pylint

black
  wintertoo/data/__init__.py
Due: black, isort, pylint

new winter fields (#73)
  wintertoo/data/__init__.py
  wintertoo/data/winter_fields.txt
Due: black, isort, pylint

versionbump
  pyproject.toml
Due: poetry-check

versionbump (#74)
  pyproject.toml
Due: poetry-check

fixed is up function in utils.py
  wintertoo/utils.py
Due: black, isort, pylint

fix up_tonight
  wintertoo/utils.py
Due: black, isort, pylint

Add refresh
  wintertoo/data/__init__.py
Due: black, isort, pylint

Add refresh (#77)
  wintertoo/data/__init__.py
Due: black, isort, pylint

handle targets that have set
  wintertoo/utils.py
Due: black, isort, pylint

handle targets that set during the night
  wintertoo/utils.py
Due: black, isort, pylint

fix up_tonight (#76)
  wintertoo/utils.py
Due: black, isort, pylint

Update
  pyproject.toml
Due: poetry-check

Update (#78)
  pyproject.toml
Due: poetry-check

Update
  pyproject.toml
  wintertoo/data/__init__.py
  wintertoo/data/observing_request_schema.json
  wintertoo/models/__init__.py
  wintertoo/models/program.py
  wintertoo/models/too.py
  wintertoo/schedule.py
Due: black, isort, pylint, poetry-check

Update
  tests/test_schedule.py
Due: black, isort, pylint

Update isort
  pyproject.toml
  wintertoo/models/__init__.py
  wintertoo/models/too.py
  wintertoo/schedule.py
Due: black, isort, pylint, poetry-check

Update
  .github/workflows/continuous_integration.yml
  pyproject.toml
Due: poetry-check

Update
  pyproject.toml
  wintertoo/models/too.py
  wintertoo/schedule.py
Due: black, isort, pylint, poetry-check

Add camera
  tests/testdata/test_schedule.json
Due: none
